<a href="https://colab.research.google.com/github/shreshtha11/Projects/blob/master/Loan_Predictive_Model.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [3]:
loan=pd.read_csv("https://disq.us/url?url=https%3A%2F%2Fgithub.com%2FSavioSal%2Fdatasets%2Fraw%2Fmaster%2Fcr_loan_nout_nmiss.csv%3AYxXGKX2B2FjmTG-wIPMffo4x1Z4&cuid=5711773")

In [4]:
loan.head()

   person_age  ...  cb_person_cred_hist_length
0          21  ...                           2
1          25  ...                           3
2          23  ...                           2
3          24  ...                           4
4          21  ...                           2

[5 rows x 12 columns]

In [5]:
#defaulting on loan-unable to pay back the loan
len(loan)

29459

In [6]:
#correlation-interdependence between two numerical variables
loan.corr()

                            person_age  ...  cb_person_cred_hist_length
person_age                    1.000000  ...                    0.877387
person_income                 0.140438  ...                    0.121689
person_emp_length             0.174033  ...                    0.149848
loan_amnt                     0.055763  ...                    0.045541
loan_int_rate                 0.011966  ...                    0.016656
loan_status                  -0.020948  ...                   -0.014131
loan_percent_income          -0.040710  ...                   -0.030329
cb_person_cred_hist_length    0.877387  ...                    1.000000

[8 rows x 8 columns]

In [7]:
#cross tabulation-count the number of times independent variable occurs for the given target variable.

pd.crosstab(loan['person_home_ownership'],loan['loan_status'])

loan_status                0     1
person_home_ownership
MORTGAGE               10580  1539
OTHER                     67    27
OWN                     2187   169
RENT                   10162  4728

In [8]:
#higher risk category
4728/(10162+4728)

0.31752854264607117

In [11]:
#higher risk category
intent_cross=pd.crosstab(loan['loan_intent'],loan['loan_status'])

In [12]:
intent_cross.columns=['NoDefault','Default']

In [13]:
intent_cross

                   NoDefault  Default
loan_intent
DEBTCONSOLIDATION       3357     1346
EDUCATION               4841     1011
HOMEIMPROVEMENT         2427      863
MEDICAL                 3980     1471
PERSONAL                4003     1009
VENTURE                 4388      763

In [14]:
#relative defaults for each type of intent
#debt consolidation-most riskiest category intent for loan defaulting
intent_cross.apply(lambda row:row.Default/(row.NoDefault+row.Default),axis=1)

loan_intent
DEBTCONSOLIDATION    0.286200
EDUCATION            0.172761
HOMEIMPROVEMENT      0.262310
MEDICAL              0.269859
PERSONAL             0.201317
VENTURE              0.148127
dtype: float64

In [15]:
#logistic regression model-
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

In [16]:
loan.head()

   person_age  ...  cb_person_cred_hist_length
0          21  ...                           2
1          25  ...                           3
2          23  ...                           2
3          24  ...                           4
4          21  ...                           2

[5 rows x 12 columns]

In [24]:
X=loan[['person_age','person_income','loan_int_rate','loan_amnt']]
y=loan[['loan_status']]

In [25]:
#cross validate
#1.training:70
#2.testing:30
#random state-is used for reproducibility.
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=123)

In [26]:
logreg=LogisticRegression()

In [27]:
model1=logreg.fit(X_train,y_train)

/usr/local/lib/python3.6/dist-packages/sklearn/utils/validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [32]:
model1.predict([[30,70000,0.12,20000]])

array([0])