<a href="https://colab.research.google.com/github/shreshtha11/Projects/blob/master/Recommender_Systems.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [45]:
#content based recommendation
import pandas as pd

In [21]:
movies=pd.read_csv("https://disq.us/url?url=https%3A%2F%2Fgithub.com%2FSavioSal%2Fdatasets%2Fraw%2Fmaster%2Fmovie_clean.csv%3A3lHFGK9VKp7CXXLsDi-40ZbhOtE&cuid=5711773",encoding='unicode_escape')

In [22]:
movies.head()

                         title  ...                                           overview
0                    Toy Story  ...  Led by Woody, Andy's toys live happily in his ...
1                      Jumanji  ...  When siblings Judy and Peter discover an encha...
2             Grumpier Old Men  ...  A family wedding reignites the ancient feud be...
3            Waiting to Exhale  ...  Cheated on, mistreated and stepped on, the wom...
4  Father of the Bride Part II  ...  Just when George Banks has recovered from his ...

[5 rows x 7 columns]

In [23]:
movies.shape

(45572, 7)

In [24]:
from sklearn.feature_extraction.text import TfidfVectorizer

In [25]:
#it tells us how important a word is in a document or collection of words.
tfidf=TfidfVectorizer(stop_words='english')

In [26]:
len(movies[movies['vote_average']>7])

7714

In [27]:
movies_new=movies[movies['vote_average']>7]
movies_new.shape

(7714, 7)

In [28]:
movies_new[movies_new['overview'].isna()]

                              title  ... overview
636       Nelly and Monsieur Arnaud  ...      NaN
822                           Flirt  ...      NaN
1077                    Microcosmos  ...      NaN
4756                 Monsters, Inc.  ...      NaN
9182      Kirikou and the Sorceress  ...      NaN
...                             ...  ...      ...
44836  Abacus: Small Enough to Jail  ...      NaN
44864           Becoming Cary Grant  ...      NaN
45083                150 Milligrams  ...      NaN
45167                    Wind River  ...      NaN
45336              Twelve Angry Men  ...      NaN

[156 rows x 7 columns]

In [29]:
movies_new['overview']=movies_new['overview'].fillna('')

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [30]:
len(movies_new)

7714

In [31]:
tfidf_matrix=tfidf.fit_transform(movies_new['overview'])

In [32]:
tfidf_matrix

<7714x31503 sparse matrix of type '<class 'numpy.float64'>'
	with 205864 stored elements in Compressed Sparse Row format>

In [33]:
from sklearn.metrics.pairwise import linear_kernel

In [34]:
cosine_similarity=linear_kernel(tfidf_matrix,tfidf_matrix)

In [35]:
cosine_similarity.shape

(7714, 7714)

In [36]:
indices=pd.Series(movies_new.index,index=movies_new['title']).drop_duplicates()

In [38]:
indices.head()

title
Toy Story     0
Heat          5
Balto        12
Nixon        13
Casino       15
dtype: int64

In [39]:
def movie_recommender(title):
  idx=indices[title]
  similarity_scores=list(enumerate(cosine_similarity[idx]))
  similarity_scores=sorted(similarity_scores,key=lambda x:x[1],reverse=True)
  scores_final=similarity_scores[1:11]
  movie_indices=[i[0] for i in scores_final]
  return movies_new['title'].iloc[movie_indices]

In [40]:
movie_recommender('Toy Story')

15370    Casino Jack and the United States of Money
42819                                     4.1 Miles
1072                       A Streetcar Named Desire
17217                            X-Men: First Class
11622                          The Savage Innocents
28939                               Execution Squad
3148                                  Man Bites Dog
21224                              What's in a Name
1885                                    Poltergeist
16518          Russell Peters: Red, White and Brown
Name: title, dtype: object

In [42]:
movie_recommender('Heat')

16723                                                 Emma
7345                                          Le Samoura?»
23505                              Bettie Page Reveals All
25833                            Out Of The Clear Blue Sky
27340                                     The Waiting City
21739                                Miracle in Cell No. 7
45007                    Water & Power: A California Heist
892                                       The Wizard of Oz
27841    Going Clear: Scientology and the Prison of Belief
1551                                              The Game
Name: title, dtype: object

In [43]:
movie_recommender('Casino')

723                    Ghost in the Shell
4744                                K-PAX
37174                         Berth Marks
8907                 The Whales of August
8617                             PlayTime
20690             Night Across the Street
28524    The Third Reich: The Rise & Fall
19102                    Jack-Jack Attack
9179                           Style Wars
43192     Teen Titans: The Judas Contract
Name: title, dtype: object

In [44]:
movie_recommender('Nixon')

28321                   Plato's Academy
8993        Wild Hearts Can't Be Broken
18898                 Good-bye, My Lady
14655     Flavor of Green Tea Over Rice
21177                    My Perestroika
6813               Journeys with George
25167    Russell Brand: Messiah Complex
37542                Priest of Darkness
7643                 Sansho the Bailiff
32517                        Being Evel
Name: title, dtype: object